In [3]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\welcome\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\welcome\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\welcome\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\welcome\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\welcome\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\welcome\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\welcome\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\welcome\anaconda3\lib\site-packages (from requests) (2.0.4)

In [4]:
from bs4 import BeautifulSoup
import requests

In [13]:
ODI_teams=BeautifulSoup(requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi').content,'html.parser')

In [6]:
team=[ i.text for i in ODI_teams.find_all('span',class_='u-hide-phablet')]

In [7]:
matches=[ i.text for i in ODI_teams.find_all('td',class_='table-body__cell u-center-text')]

In [8]:
matches1=[matches[i] for i in range(0,len(matches),2)][:10]

In [9]:
points=[matches[i] for i in range(1,len(matches),2)][:10]

In [10]:
ratings=[ i.text for i in ODI_teams.find_all('td',class_='table-body__cell u-text-right rating')][:10]

In [15]:
import pandas as pd
df=pd.DataFrame({'Matches':matches1,'Points':points,'Ratings':ratings})

df

  Matches Points Ratings
0      27  3,226     119
1      28  3,085     110
2      19  2,005     106
3      23  2,325     101
4      21  2,111     101
5      27  2,639      98
6      29  2,658      92
7      38  2,621      69
8      18  1,238      69
9      23  1,214      53