In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs

In [2]:
page_ODI = rs.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page_ODI

In [3]:
ODI_soup = Soup(page_ODI.content , "html.parser")

In [4]:
Team = []
Match = []
Points = []
Rating =  []

In [5]:
M_Team = ODI_soup.find_all("span", class_="u-hide-phablet")
M_Team[0:4]

[<span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">Pakistan</span>]

In [6]:
for i in M_Team:
    Team.append(i.get_text().replace("\n"," "))

In [7]:
Team=Team[0:20]
Team[0:5]

['New Zealand', 'England', 'India', 'Pakistan', 'Australia']

In [8]:
ODI_Match = ODI_soup.find_all("td", class_="table-body__cell u-center-text")
ODI_Match[0:4]
for i in ODI_Match:
    Match.append(i.get_text().replace("\n"," "))

Match[0:4]

['27', '3,226', '28', '3,085']

In [9]:
Total_Match=[]
i=0
while i < len(Match):
    Total_Match.append(Match[i])
    i += 2
        
print(Total_Match)

['27', '28', '19', '23', '21', '27', '29', '38', '18', '23', '23', '19', '18', '17', '30', '20', '15', '22', '22']

In [10]:
Points=[]
i=1
while i < len(Match):
    Points.append(Match[i])
    i += 2
        
print(Points)

['3,226', '3,085', '2,005', '2,325', '2,111', '2,639', '2,658', '2,621', '1,238', '1,214', '1,025', '733', '603', '539', '919', '544', '369', '331', '134']

In [11]:
ODI_Rating = ODI_soup.find_all("td", class_="table-body__cell u-text-right rating")
ODI_Rating[0:4]

[<td class="table-body__cell u-text-right rating">119</td>,
 <td class="table-body__cell u-text-right rating">110</td>,
 <td class="table-body__cell u-text-right rating">106</td>,
 <td class="table-body__cell u-text-right rating">101</td>]

In [12]:
for i in ODI_Rating:
    Rating.append(i.get_text().replace("\n"," "))

Rating[0:4]

['119', '110', '106', '101']

In [13]:
print(len(Team), len(Total_Match),len(Points),len(Rating))

20 19 19 19

In [14]:

print(type(Team))
print(type(Total_Match))
print(type(Points))
print(type(Rating))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [15]:
Total_Match.insert(0, '16')
Points.insert(0, '2051')
Rating.insert(0, '128')

In [16]:
print(len(Team), len(Total_Match),len(Points),len(Rating))

20 20 20 20

In [17]:
import pandas as pd

Top_10_Man = pd.DataFrame({})
Top_10_Man["Team_name"] = Team
Top_10_Man["Total_Match"] = Total_Match
Top_10_Man["Points"] = Points
Top_10_Man["Rating"] = Rating

In [19]:
Top_10_Man.head(10)

      Team_name Total_Match Points Rating
0   New Zealand          16   2051    128
1       England          27  3,226    119
2         India          28  3,085    110
3      Pakistan          19  2,005    106
4     Australia          23  2,325    101
5  South Africa          21  2,111    101
6    Bangladesh          27  2,639     98
7     Sri Lanka          29  2,658     92
8   West Indies          38  2,621     69
9   Afghanistan          18  1,238     69