In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs

In [2]:
page_ODI_ALL = rs.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page_ODI_ALL

In [3]:
ODI_soup_ALL = Soup(page_ODI_ALL.content , "html.parser")

In [4]:
All_Rounder_Name = []
Team_All = []
Rating_All =  []

In [5]:
All_Rounder = ODI_soup_ALL.find_all("td", class_ ="table-body__cell rankings-table__name name")
All_Rounder[0:4]

for i in All_Rounder:
    All_Rounder_Name.append(i.get_text().replace("\n"," "))
    
All_Rounder_Name[0:3]

[' Ellyse Perry ', ' Marizanne Kapp ', ' Hayley Matthews ']

In [6]:
Team_Name_All = ODI_soup_ALL.find_all("span", class_="table-body__logo-text")
Team_Name_All[0:4]
 
for i in Team_Name_All:
    Team_All.append(i.get_text().replace("\n"," "))

Team_All[0:4]

['AUS', 'SA', 'WI', 'NZ']

In [7]:
Team_Name_All = ODI_soup_ALL.find_all("span", class_="table-body__logo-text")
Team_Name_All[0:4]
 
for i in Team_Name_All:
    Team_All.append(i.get_text().replace("\n"," "))

Team_All[0:4]

['AUS', 'SA', 'WI', 'NZ']

In [8]:
Rating_All_W = ODI_soup_ALL.find_all("td", class_="table-body__cell rating")
Rating_All_W[0:4]
 
for i in Rating_All_W:
    Rating_All.append(i.get_text().replace("\n"," "))

Rating_All[0:4]

['374', '349', '339', '336']

In [9]:
print(len(Team_All), len(All_Rounder_Name),len(Rating_All))

38 19 19

In [10]:
All_Rounder_Name.insert(0 , 'Natalie Sciver')
Team_All.insert(0 ,'ENG')
Rating_All.insert(0,'379')

In [11]:
print(len(Team_All), len(All_Rounder_Name),len(Rating_All))

39 20 20

In [12]:
import pandas as pd

All_ODI_W = pd.DataFrame({})
All_ODI_W["All_Rounder_Name"]=All_Rounder_Name
All_ODI_W["Team_Names"]=Team_All[0:20]
All_ODI_W["Rating"]=Rating_All

All_ODI_W.head(10)

     All_Rounder_Name Team_Names Rating
0      Natalie Sciver        ENG    379
1       Ellyse Perry         AUS    374
2     Marizanne Kapp          SA    349
3    Hayley Matthews          WI    339
4        Amelia Kerr          NZ    336
5   Ashleigh Gardner         AUS    270
6      Deepti Sharma         IND    252
7      Jess Jonassen         AUS    246
8    Katherine Brunt         ENG    220
9    Stafanie Taylor          WI    207