In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs

In [2]:
page_ODI_W = rs.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

In [3]:
ODI_soup_W = Soup(page_ODI_W.content , "html.parser")

In [4]:
Team = []
Match = []
Points = []
Rating =  []

In [5]:
W_Team = ODI_soup_W.find_all("span", class_="u-hide-phablet")
W_Team[0:4]
for i in W_Team:
    Team.append(i.get_text().replace("\n"," "))

In [6]:
Team=Team[0:10]
Team[0:11]

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Pakistan',
 'Sri Lanka',
 'Ireland']

In [7]:
ODI_Match_W = ODI_soup_W.find_all("td", class_="table-body__cell u-center-text")
ODI_Match_W[0:4]
for i in ODI_Match_W:
    Match.append(i.get_text().replace("\n"," "))

Match[0:4]

['33', '4,046', '35', '4,157']

In [8]:
Total_Match=[]
i=0
while i < len(Match):
    Total_Match.append(Match[i])
    i += 2
        
print(Total_Match)

['33', '35', '32', '31', '30', '12', '30', '11', '8', '8']

In [9]:
Points=[]
i=1
while i < len(Match):
    Points.append(Match[i])
    i += 2
        
print(Points)

['4,046', '4,157', '3,219', '3,019', '2,768', '930', '1,962', '495', '351', '0']

In [10]:
ODI_Rating_W = ODI_soup_W.find_all("td", class_="table-body__cell u-text-right rating")
ODI_Rating_W[0:4]
for i in ODI_Rating_W:
    Rating.append(i.get_text().replace("\n"," "))

Rating[0:4]

['123', '119', '101', '97']

In [11]:
print(len(Team), len(Total_Match),len(Points),len(Rating))

10 10 10 10

In [12]:
import pandas as pd

Top_10_Woman = pd.DataFrame({})
Top_10_Woman["Team_name"] = Team
Top_10_Woman["Total_Match"] = Total_Match
Top_10_Woman["Points"] = Points
Top_10_Woman["Rating"] = Rating

In [13]:
Top_10_Woman

      Team_name Total_Match Points Rating
0     Australia          33  4,046    123
1       England          35  4,157    119
2  South Africa          32  3,219    101
3         India          31  3,019     97
4   New Zealand          30  2,768     92
5   West Indies          12    930     78
6    Bangladesh          30  1,962     65
7      Pakistan          11    495     45
8     Sri Lanka           8    351     44
9       Ireland           8      0      0