In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs

In [2]:
page_ODI_Bat = rs.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
page_ODI_Bat

In [3]:
ODI_soup_Bat = Soup(page_ODI_Bat.content , "html.parser")

In [4]:
Batsmen_Name = []
Team = []
Rating =  []

In [5]:
Batsmen = ODI_soup_Bat.find_all("td", class_ ="table-body__cell name")
Batsmen[0:4]

[<td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/1568">Imam-ul-Haq</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/1277">Rassie van der Dussen</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/834">Quinton de Kock</a>
 </td>,
 <td class="table-body__cell name">
 <a href="/rankings/mens/player-rankings/164">Virat Kohli</a>
 </td>]

In [6]:
for i in Batsmen:
    Batsmen_Name.append(i.get_text().replace("\n"," "))
    
Batsmen_Name[0:3]

[' Imam-ul-Haq ', ' Rassie van der Dussen ', ' Quinton de Kock ']

In [7]:
Team_Name = ODI_soup_Bat.find_all("span", class_="table-body__logo-text")
Team_Name[0:4]
for i in Team_Name:
    Team.append(i.get_text().replace("\n"," "))

Team[0:4]

['PAK', 'SA', 'SA', 'IND']

In [9]:
Rating_Bat = ODI_soup_Bat.find_all("td", class_="table-body__cell u-text-right rating")
Rating_Bat[0:4]

[<td class="table-body__cell u-text-right rating">815</td>,
 <td class="table-body__cell u-text-right rating">789</td>,
 <td class="table-body__cell u-text-right rating">784</td>,
 <td class="table-body__cell u-text-right rating">767</td>]

In [10]:
for i in Rating_Bat:
    Rating.append(i.get_text().replace("\n"," "))

Rating[0:4]

['815', '789', '784', '767']

In [11]:
print(len(Team), len(Batsmen_Name),len(Rating))

54 54 54

In [12]:
Batsmen_Name.insert(0 , 'Babar Azam')
Team.insert(0 ,'PAK')
Rating.insert(0,'815')

In [13]:
print(len(Team), len(Batsmen_Name),len(Rating))

55 55 55

In [14]:
import pandas as pd

Top_Batsmen_ODI = pd.DataFrame({})
Top_Batsmen_ODI["Batsmen_Names"]=Batsmen_Name
Top_Batsmen_ODI["Team_Names"]=Team
Top_Batsmen_ODI["Rating"]=Rating

In [15]:
Top_Batsmen_ODI.head(10)

             Batsmen_Names Team_Names Rating
0               Babar Azam        PAK    815
1             Imam-ul-Haq         PAK    815
2   Rassie van der Dussen          SA    789
3         Quinton de Kock          SA    784
4             Virat Kohli         IND    767
5            Rohit Sharma         IND    763
6             Ross Taylor          NZ    744
7            David Warner         AUS    737
8          Jonny Bairstow         ENG    732
9             Aaron Finch         AUS    715