In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs

In [2]:
page_ODI_Bow = rs.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page_ODI_Bow

In [3]:
ODI_soup_Bow = Soup(page_ODI_Bow.content , "html.parser")

In [4]:
Bowler_Name = []
Teams = []
Ratings =  []

In [5]:
Bowler = ODI_soup_Bow.find_all("td", class_ ="table-body__cell rankings-table__name name")
Bowler[0:4]
for i in Bowler:
    Bowler_Name.append(i.get_text().replace("\n"," "))
    
Bowler_Name[0:3]

[' Jasprit Bumrah ', ' Shaheen Afridi ', ' Josh Hazlewood ']

In [7]:
Team_Name_B = ODI_soup_Bow.find_all("span", class_="table-body__logo-text")
Team_Name_B[0:4]
for i in Team_Name_B:
    Teams.append(i.get_text().replace("\n"," "))

Teams[0:4]

['IND', 'PAK', 'AUS', 'AFG']

In [8]:
Rating_Bows = ODI_soup_Bow.find_all("td", class_="table-body__cell rating")
Rating_Bows[0:4]
for i in Rating_Bows:
    Ratings.append(i.get_text().replace("\n"," "))

Ratings[0:4]

['682', '681', '679', '676']

In [9]:
print(len(Teams), len(Bowler_Name),len(Ratings))

99 99 99

In [10]:
Bowler_Name.insert(0 , 'Trent Boult')
Teams.insert(0 ,'NZ')
Ratings.insert(0,'697')

In [11]:
print(len(Teams), len(Bowler_Name),len(Ratings))

100 100 100

In [12]:
import pandas as pd

Top_Bowler_ODI = pd.DataFrame({})
Top_Bowler_ODI["Batsmen_Names"]=Bowler_Name
Top_Bowler_ODI["Team_Names"]=Teams
Top_Bowler_ODI["Rating"]=Ratings

Top_Bowler_ODI.head()

        Batsmen_Names Team_Names Rating
0         Trent Boult         NZ    697
1     Jasprit Bumrah         IND    682
2     Shaheen Afridi         PAK    681
3     Josh Hazlewood         AUS    679
4   Mujeeb Ur Rahman         AFG    676

In [13]:
Top_Bowler_ODI.head(10)

        Batsmen_Names Team_Names Rating
0         Trent Boult         NZ    697
1     Jasprit Bumrah         IND    682
2     Shaheen Afridi         PAK    681
3     Josh Hazlewood         AUS    679
4   Mujeeb Ur Rahman         AFG    676
5       Mehedi Hasan         BAN    672
6         Matt Henry          NZ    663
7      Mohammad Nabi         AFG    657
8        Rashid Khan         AFG    651
9       Chris Woakes         ENG    640