In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs

In [29]:
page_ODI_Bat_w = rs.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
page_ODI_Bat_w

In [32]:
ODI_soup_Bat_w = Soup(page_ODI_Bat_w.content , "html.parser")

In [33]:
Player_Name = []
Team_W = []
Ratings_W =  []

In [35]:

player_W = ODI_soup_Bat_w.find_all("td", class_ ="table-body__cell name")
player_W[0:4]

for i in player_W:
    Player_Name.append(i.get_text().replace("\n"," "))
    
Player_Name[0:3]

[' Beth Mooney ', ' Natalie Sciver ', ' Laura Wolvaardt ']

In [36]:
Team_Name_W = ODI_soup_Bat_w.find_all("span", class_="table-body__logo-text")
Team_Name_W[0:4]
 
for i in Team_Name_W:
    Team_W.append(i.get_text().replace("\n"," "))

Team_W[0:4]

['AUS', 'ENG', 'SA', 'AUS']

In [38]:
Rating_Bat_w = ODI_soup_Bat_w.find_all("td", class_="table-body__cell u-text-right rating")
Rating_Bat_w[0:4]

for i in Rating_Bat_w:
    Ratings_W.append(i.get_text().replace("\n"," "))

Ratings_W[0:4]

['749', '747', '732', '710']

In [39]:
print(len(Team_W), len(Player_Name),len(Ratings_W))

27 27 27

In [40]:
Player_Name.insert(0 , 'Alyssa Healy')
Team_W.insert(0 ,'AUS')
Ratings_W.insert(0,'785')

In [41]:
print(len(Team_W), len(Player_Name),len(Ratings_W))

28 28 28

In [42]:
import pandas as pd

Top_player_ODI_W = pd.DataFrame({})
Top_player_ODI_W["Batsmen_Names"]=Player_Name
Top_player_ODI_W["Team_Names"]=Team_W
Top_player_ODI_W["Rating"]=Ratings_W

Top_player_ODI_W.head(10)

           Batsmen_Names Team_Names Rating
0           Alyssa Healy        AUS    785
1           Beth Mooney         AUS    749
2        Natalie Sciver         ENG    747
3       Laura Wolvaardt          SA    732
4           Meg Lanning         AUS    710
5        Rachael Haynes         AUS    701
6     Amy Satterthwaite          NZ    681
7        Tammy Beaumont         ENG    667
8   Chamari Athapaththu          SL    655
9       Smriti Mandhana         IND    649